<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="title" content="{{ page.title }}" />
  <meta name="description" content="{{ page.content | markdownify | strip_html | truncate: 155 }}" />
  <meta name="keywords" content="{{ page.keywords }}" />
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="canonical" href="{{ page.url | prepend: site.url }}">
  <link rel="icon" href="{{site.baseurl}}/images/favicon.png">
  <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
<!-- Global site tag (gtag.js) - Google Ads: 10795093835 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10795093835"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-10795093835');
</script>

</head>
<body class='page {{page.bodyClass}}'>
  {% include main-menu-mobile.html %}
  <div id="wrapper" class="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
  </div>
  {% include footer.html %}
  {% include sub-footer.html %}
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/scripts.js"></script>
  {% include google-analytics.html %}
 
<a href="https://api.whatsapp.com/send?phone=+919324626153&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
</body>
<!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "102622095632564");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v12.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
</html>

