<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="title" content="{{ page.title }}" />
  <meta name="description" content="{{ page.content | markdownify | strip_html | truncate: 155 }}" />
  <meta name="keywords" content="{{ page.keywords }}" />
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="canonical" href="{{ page.url | prepend: site.url }}">
  <link rel="icon" href="{{site.baseurl}}/images/favicon.png">
  <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet">
  
<!-- Global site tag (gtag.js) - Google Ads: 10795093835 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10795093835"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-10795093835');
</script>

</head>
<body class='page {{page.bodyClass}}'>
  {% include main-menu-mobile.html %}
  <div id="wrapper" class="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
  </div>
  {% include footer.html %}
  {% include sub-footer.html %}
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/scripts.js"></script>
  {% include google-analytics.html %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=+919324626153&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
</body>
</html>

